pretrained/*
RAW/*
src/infer
src/exp
src/wandb
MONAI/*
RAW/REAL_WSIs
RAW/*/*.jpg
src/weights
wandb
**/__pycache__
src/exp_cls_256_cls
src/exp_cls_256_cls_rm_confused_case
src/exp_cls_256_cls_rm_confused_case_with9
**/*.png
BBDM2/results